<!-- FIXME: head と history 両方にある -->
<% content_for :resource_link do %>
<link rel="prev" href="<%= @resource.uri_for_version(@resource.previous_version_name()) %>" />
<link rel="next" href="<%= @resource.uri_for_version(@resource.next_version_name()) %>" />
<% end %>

<h1>Editing document</h1>

<div id="contents"></div>

<%= javascript_include_tag '/assets/restful_websocket' %>
<%= javascript_include_tag '/assets/resource' %>
<%= javascript_include_tag '/assets/websocket_class' %>

<%= javascript_tag do %>
  $(function(){
    <!-- 方法１: resource の素を JS に渡して作る -->
    // FIXME: raw って危ない？
    // FIXME: input にする
    window.ws_resource = new RestfulWebSocket(<%= raw @resource.to_json_for_public_info %>);
  });
<% end %>
