<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @document.contents %>
</p>

<p>
  <strong>previous_version:</strong>
  <%= @document.previous_version %>
</p>

<p>
  <strong>Version:</strong>
  <%= @document.version %>
</p>

<p>
  <strong>Meta info:</strong>
  <%= @document.meta %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
